extends layout

block content
  .inner
    h2= title
    .map
      .autoComplete
        input.autoComplete__input(type="text" placeholder="Search for anything" name="geolocate")
      #map
        p Loading map...